<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, initial-scale=1">
    <title>document</title>
    <style>
        body{
            background-image: url();
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: contain;
        }
        body{text-align: center;}
        </style>
        </head>
<body>
</div>
<div class="gallery">
    <a target= "img-flower.jpg"alt=girl"</div>
        <p><h2 style="color: aliceblue;"

<h1>my website</h1>
<p>HI! my name is niveditha and iam studying in SIET</p>


    
</body>
</html>